[Resolve]
{# DO NOT UPDATE THESE #}
{# I WILL NOT FIX DNS IF YOU DO #}
DNS=1.1.1.1 1.0.0.1
FallbackDNS=8.8.8.8 8.4.4.8
{% if remove_default_searchdomains is sameas false or (remove_default_searchdomains is sameas true and searchdomains|default([])|length==0)%}
Domains={{ ([ 'default.svc.' + dns_domain, 'svc.' + dns_domain ] + searchdomains|default([])) | join(' ') }}
{% else %}
Domains={{ searchdomains|default([]) | join(' ') }}
{% endif %}
#LLMNR=no
#MulticastDNS=no
DNSSEC=no
Cache=no-negative
{% if ansible_os_family in ["Flatcar", "Flatcar Container Linux by Kinvolk"] %}
DNSStubListener=no
{% else %}
#DNSStubListener=yes
{% endif %}
